bode
.elem {
  position: absolute;
  left: 50px;
  top: 50px; 
  width: 200px;
  height: 200px;
  background-color: blue;
}
/* .slider {
  position: absolute;
  left: 100px;
  top: 100px;
} */
.drag {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background-color: red;
}
.slider_handle {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
}
.circle {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed black;
}
.dot {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%; 
}